doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Author: Shiva Komatreddy
    button#btnGoToInventory Inventory
    button#btnGoToMarket    Market
    button#btnGoToBasket    Basket
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/global.js')