doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title AD CMS - Trucking Web Template
    link(rel='stylesheet', type='text/css', href='/css/view.css', media='all')
    script(type='text/javascript', src='/js/view.js')
  body#main_body
    img#top(src='/images/form_images/top.png', alt='')
    #form_container
      h1
        a Edit template - Slider section
      form#form_952417.appnitro(method='post', action='')
        .form_description
          h2 Edit template - Slider section
          p change home page slider texts
        ul
          li#li_1
            label.description(for='element_1') First slide - title 
            div
              input#element_1.element.text.medium(name='element_1', type='text', maxlength='255', value='')
          li#li_2
            label.description(for='element_2') First slide - subtext 
            div
              input#element_2.element.text.medium(name='element_2', type='text', maxlength='255', value='')
          li#li_3
            label.description(for='element_3') Second slide - title 
            div
              input#element_3.element.text.medium(name='element_3', type='text', maxlength='255', value='')
          li#li_4
            label.description(for='element_4') Second slide - subtext 
            div
              input#element_4.element.text.medium(name='element_4', type='text', maxlength='255', value='')
          li#li_5
            label.description(for='element_5') Third slide - title 
            div
              input#element_5.element.text.medium(name='element_5', type='text', maxlength='255', value='')
          li#li_6
            label.description(for='element_6') Third slide - subtext 
            div
              input#element_6.element.text.medium(name='element_6', type='text', maxlength='255', value='')
          li.buttons
            input(type='hidden', name='form_id', value='952417')
            input#saveForm.button_text(type='submit', name='submit', value='Submit')
      #footer
        | Powered by Ankit Designs
    img#bottom(src='/images/form_images/bottom.png', alt='')
