doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Edit template - Slider section
    link(rel='stylesheet', type='text/css', href='/css/view.css', media='all')
    script(type='text/javascript', src='/js/view.js')
  body#main_body
    img#top(src='/images/form_images/top.png', alt='')
    #form_container
      h1
        a Edit template - Footer section
      form#form_952417.appnitro(method='post', action='')
        .form_description
          h2 Edit template - Footer section
          p change home page footer content
        ul
          li#li_1
            label.description(for='element_1') Copyright's Company Name 
            div
              input#company-name.element.textarea.large(name='element_1')
            p#guide_1.guidelines
              Edit Company Name
          li#li_2
            label.description(for='element_5') Add Trademark 
            span
              input#trademark.element.checkbox(name='element_5_1', type='checkbox', value='0')
              label.choice(for='element_5_1') Designed & Developed By Ankit Designs
            p#guide_5.guidelines
              small Add or Remove Feature                   
          li.buttons
            input(type='hidden', name='form_id', value='952417')
            input#saveFormFooter.button_text(type='submit', name='submit', value='Submit')
      #footer
        | Powered by 
        a(href='http://ankitdesigns.com') Ankit Designs
    img#bottom(src='/images/form_images/bottom.png', alt='')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='/javascripts/update.js')