doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Edit template - Slider section
    link(rel='stylesheet', type='text/css', href='/css/view.css', media='all')
    script(type='text/javascript', src='/js/view.js')
  body#main_body
    img#top(src='/images/form_images/top.png', alt='')
    #form_container
      h1
        a Edit template - About Section
      form#form_952417.appnitro(method='post', action='')
        .form_description
          h2 Edit template - About Section
          p change about section content
        ul
          li#li_1
            label.description(for='element_1') Main Title
            div
              textArea#section-6-title.element.textarea.small(name='element_1', type='text', maxlength='255', value='')
          li#li_2
            label.description(for='element_2') Title Tag Line
            div
              textArea#section-6-title-tag-line.element.textarea.small(name='element_2', type='text', maxlength='255', value='')
          li#li_3
            label.description(for='element_3') Paragraph 1
            div
              textArea#section-6-p1.element.textarea.large(name='element_3', type='text', maxlength='255', value='')
          li#li_4
            label.description(for='element_4') Paragraph 2
            div
              textArea#section-6-p2.element.textarea.large(name='element_4', type='text', maxlength='255', value='')
          li#li_5
            label.description(for='element_5') Paragraph 3
            div
              textArea#section-6-p3.element.textarea.large(name='element_5', type='text', maxlength='255', value='')
          li#li_6
            label.description(for='element_6') Paragraph 4
            div
              textArea#section-6-p4.element.textarea.large(name='element_6', type='text', maxlength='255', value='')
          li.buttons
            input(type='hidden', name='form_id', value='952417')
            input#saveFormSection6.button_text(type='submit', name='submit', value='Submit')
      #footer
        | Powered by 
        a(href='http://ankitdesigns.com') Ankit Designs
    img#bottom(src='/images/form_images/bottom.png', alt='')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='/javascripts/update.js')
