doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Edit Template - Section 3
    link(rel='stylesheet', type='text/css', href='/css/view.css', media='all')
    script(type='text/javascript', src='/js/view.js')
  body#main_body
    img#top(src='/images/form_images/top.png', alt='')
    #form_container
      h1
        a Edit Template - Section 3
      form#form_953947.appnitro(method='post', action='')
        .form_description
          h2 Edit Template - Section 3
          p CMS Builder for section 3 part of the template
        ul
          li#li_1
            label.description(for='element_1') Section-Title 
            div
              textarea#section-title.element.textarea.small(name='element_1')
            p#guide_1.guidelines
              small Main title
          li#li_2
            label.description(for='element_2') Section-Title-Tag-Lines 
            div
              textarea#section-title-tag-line.element.textarea.small(name='element_2')
          li#li_3
            label.description(for='element_3') Section-Header 
            div
              textarea#section-header.element.textarea.small(name='element_3')
          li#li_4
            label.description(for='element_4') Section-First-Sub-Title 
            div
              textarea#section-first-sub-title.element.textarea.small(name='element_4')
          li#li_5
            label.description(for='element_5') Section-First-Sub-Content 
            div
              textarea#section-first-sub-content.element.textarea.large(name='element_5')
          li#li_6
            label.description(for='element_6') Section-Second-Sub-Title 
            div
              textarea#section-second-sub-title.element.textarea.small(name='element_6')
          li#li_7
            label.description(for='element_7') Section-Second-Sub-Content 
            div
              textarea#section-second-sub-content.element.textarea.large(name='element_7')
          li.buttons
            input(type='hidden', name='form_id', value='953947')
            input#saveFormSection3.button_text(type='submit', name='submit', value='Submit')
            input#preview.button_text(type='submit', name='submit', value='Preview')
      #footer
        | Powered by 
        a(href='http://ankitdesigns.com') Ankit Designs
    img#bottom(src='/images/form_images/bottom.png', alt='')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='/javascripts/update.js')
